<!DOCTYPE html>
<html>

{{!--

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

  <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">

</head>

<body>
  <div class="main"> --}}


    <!-- Sing in  Form -->
    {{!-- <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image img-fluid">
            <img src="/images/Vanchi logo.jpg" alt="">
            <br>
            <br>
            <a href="/signup" class="signup-image-link">Create an account</a>
            <br>
            <a href="/forgetpassword" class="signup-image-link">Forget password</a>
            <br> --}}


            {{!--
          </div>

          <div class="signin-form">
            <h2 class="form-title">Sign in</h2>
            <form action="/login" method="POST" class="register-form" id="login-form">
              <div class="form-group">
                <label for="your_email"><i class="zmdi zmdi-account material-icons-email"></i></label>
                <input type="text" name="email" id="your_email" placeholder="Email" / required>
              </div>
              <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="your_pass" placeholder="Password" / required>
              </div> --}}

              {{!-- <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
              </div>

              <div class="messagelogin">
                <h4>{{message}} </h4>
              </div>
            </form> --}}
            {{!-- <div class="social-login">
              <span class="social-label">Or login with</span>
              <ul class="socials">
                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li> --}}
                {{!--
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</body> --}}

{{!--

</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">
  <title>Vanchi</title>
</head>

<body>


  <div class="main">

    <!-- Sign up form -->
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-image">
            <img src="/images/Vanchi logo.jpg" alt="">
            <a href="/signup" class="signup-image-link">Create an account</a>
            <br>
            <a href="/forgetpassword" class="signup-image-link">Forget password</a>
            <br>
          </div>
          <div class="signup-form">
            <br>
            <h2 class="form-title">Sign in</h2>
            <form method="POST" class="register-form" id="register-form">

              <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                <input type="email" name="email" id="email" placeholder="Your Email" required />
              </div>
              <div class="form-group">
                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="pass" placeholder="Password" required/>
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
              </div>
              <div class="messagesignup">
                <h3>{{message}}</h3>
                <h3 style="color: red;">{{error}}</h3>

              </div>
            </form>
          </div>

        </div>
      </div>
    </section> `

</body>

</html>